.body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* display: grid;
    place-items: center; */
    background-color: black;
    object-fit: cover;
    margin: 0;
    margin-bottom: 0;
}


.leftside img{
    width: 500px;
    height: 500px;
    filter: brightness(80%);
}

.container{
    color: white;
}