.skills{
    position: relative;
    height: 36vh;
    width: 100vmax;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.1s;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}

.skills h2{
    font-size: 300%;
    font-family: inherit;
    font-weight: 600;
    color: #ededed;
}

.sk{
    font-size: 115%;
    font-family: inherit;
    font-weight: 600;
    color: #00abf0;
}

.skills-row{
    position: absolute;
    margin: -30em 2em;
    bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.skills-column{
    position: relative;
    width: 30rem;
    color: #ededed;
    border-radius: 20%;
}

.skills-column ::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.1s;
}

.skills-column1{
    position: relative;
    margin-left: 10rem;
}

.skills-column1 ::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.1s;
}

.skills-column1{
    width: 30rem;
    color: #ededed;
    border-radius: 20%;
}

.skills-column span{
    color: #00abf0;
}

.skills-column1 span{
    color: #00abf0;
}

.skills-column1 .skills-content h3{
    display: flex;
    justify-content: space-between;
}

.skills-column .skills-content h3{
    display: flex;
    justify-content: space-between;
}

.skills-content {
    border: 1px solid #00abf0;
    padding: 0.4em 0.4em;
    /* border-radius: 24px; */
}

.skills-content .progress{
    margin-top: 2rem;
}

.skills-content .progress .bar{
    height: .5rem;
    border-radius: .3rem;
    border: .2rem solid #00abf0;
    padding: .3rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .1rem;
    background: #00abf0;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}

.skills-column1:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 80%;
}   

.skills-column1:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}   

.skills-column1:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}   

.skills-column1:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}   

@keyframes showRight{
    100%{
      width: 0;
    }
  }